body{
    background: rgb(70,82,106);
background: radial-gradient(circle, rgba(70,82,106,1) 0%, rgba(86,103,126,1) 49%, rgba(58,64,79,1) 100%);
}


.logo_size{
    width: 200px;
    height: 50%;
}

.user_icon_size{
    width: 30px;
    height: 50%;
    margin-bottom: 5px;
}

.custom_navlinks{
        margin-left: 30%;
}

.custom_user_icon{
    margin-left: 100%;
}

@media (max-width:991px) { 

    .custom_navlinks{
        margin-left: 0px;
    }

    .custom_user_icon{
        margin-left: 0px;
    }
 }

 .shopping_gadgets{
    background-color: white;
    margin: auto;
    width: 60%;
    height: 737px;
    border-radius: 30px;
 }

 .hyperX_cloud_cart_image{
    width: 100px;
    height: 100px;
 }

 .hyperX_cluod_cart_description{
    color: black;
 }

 .hyperX_cluod_cart_amount{
    color: black;
    margin-top: 5px;
 }

