body, html{
    background: rgb(70,82,106);
background: radial-gradient(circle, rgba(70,82,106,1) 0%, rgba(86,103,126,1) 49%, rgba(58,64,79,1) 100%);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(32, 32, 32, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(32, 32, 32, 0.3);;
  }
  


.aru_ar{
    color: white;
    font-family: Franklin Gothic Medium;
}

.logo_size{
    width: 200px;
    height: 50%;
}

.custom_btn{
    background-color: #2196F3;
}

.user_icon_size{
    width: 30px;
    height: 50%;
    margin-bottom: 5px;
}

.search_icon_size{
    margin-left: -12px;
    margin-top: -9px;
    width: 30px;
    height: 30px;
}

.shopping_cart_size{
    width: 50px;
    height: 50px;
    margin-left: -13px;
    margin-top: -5px;
}

.shopping_numbers_size{
    width: 30px;
    height: 30px;
    margin-left: -63px;
    margin-top: 30px;
}

.pop_shopping_cart{
    position: fixed;
    z-index: 1000;
    top: 90%;
    left: 90%;
}

.item_number{
    position: absolute;
    font-size: 20px;
    color: white;
    margin-left: -20px;
    margin-top: 29px;
}

.item_number_two{
    position: absolute;
    font-size: 20px;
    color: white;
    margin-left: -25px;
    margin-top: 29px;
}

.custom_navlinks{
        margin-left: 30%;
}

.custom_user_icon{
    margin-left: 100%;
}

@media (max-width:991px) { 

    .custom_navlinks{
        margin-left: 0px;
    }

    .custom_user_icon{
        margin-left: 0px;
    }
 }